Reading stream with VLC or other media player

Once again thank you for really useful program and at the same time I am terribly sorry for bothering you, but maybe you could give me a hint why it happens:

* I can play the output stream using any web browser, absolutely no problems, I simply enter the address and that's it
* but I don't have any output (or error) while trying to play the stream using VLC (or other similar media player) -- I enter the same address and nothing happens

Out of curiosity I tried to save the stream using VLC to check what it sees, I got 160 bytes (I guess it was just a header of the file format).

Hi @astrowalker,
I cannot reproduce any issues playing the MJPEG stream with VLC.

What works for me (on macOS Monterey) is the following:

- opening VLC
- going to "File => Open Network..."
- Entering the MJPEG server URL into the URL input field (e.g. `http://localhost:9000/`)
- Clicking "Open"

This displays the MJPEG stream as expected.

If you want to save an MJPEG stream to file via command line, you could use [FFmpeg](https://ffmpeg.org/):

```sh
ffmpeg -y -f mjpeg -i http://localhost:9000/ -pix_fmt yuv420p video.mp4
```

You can stop the recording via `CTRL+C`.

I'm also maintaining a Node.JS library that wraps FFmpeg for recording MJPEG streams:
https://github.com/blueimp/record-screen#mjpeg

Many thanks, somehow I didn't think about going to basics. Once you wrote it works for you, I started from the scratch, with no custom options:
* I opened stream in web browser, it worked, so I closed it
* I opened stream in VLC, it worked :-), I closed it

(I am testing playing stream in VLC because it is main point for me).

In next test I added switch "-d" (mjpegserver eager mode),it works in web browser but it does not work with VLC. Based on this, I get back to the first run, but now with a change:

* I opened stream in web browser, it worked, and I kept it playing
* I opened stream in VLC, and it didn't work -- VLC shows bouncing progress like it was fetching data

Do you suspect what can be underlying cause here?

Can confirm that if there's a running MJPEG stream (either via "-d" option or with another client having initiated the MJPEG stream), VLC is unable to display the stream.

Since neither ffmpeg nor browsers have issues displaying an ongoing MJPEG stream, I suspect this to be an issue with VLC.

Thank you very much, following your opinion I prepared to fill the report and on the way I found out that also ffmpeg has no problem with reading this stream while being not first client. There are too much programs being able to read the stream, so for the record here is the report -- https://code.videolan.org/videolan/vlc/-/issues/26260.

Irony, on VLC side they say it is server fault :-).

I think the maintainer's comments on the VLC issue tracker are a bit dismissive.
I found that VLC properly plays the stream in the eager streaming (or second client) setup if the URL ends with `.mjpeg`, e.g. http://localhost:9000/?video.mjpeg.

Background:
I had a look at the debug output of VLC and found out that VLC cannot identify the stream as MJPEG if the multipart content starts with a **preamble**.

The only difference for the client between eager streaming (or being a second client) and on-demand streaming is that the multipart content likely doesn't start with a boundary, but within the JPEG data, e.g. like this:

```
HTTP/1.1 200 OK
Cache-Control: no-store
Connection: close
Content-Type: multipart/x-mixed-replace;boundary=ffmpeg
Date: Sat, 13 Nov 2021 08:15:25 GMT
Transfer-Encoding: chunked

[incomplete JPEG data]
--ffmpeg
Content-Type: image/jpeg

[JPEG data]
--ffmpeg
Content-Type: image/jpeg

[JPEG data]
--ffmpeg--
```

This is however still following the spec, as multipart content can contain a **preamble**, as outlined in the [MIME specification RFC 2046, section 5.1.1](https://datatracker.ietf.org/doc/html/rfc2046#section-5.1.1).

VLCs MJPEG demuxer can handle the preamble, but VLC cannot identify the stream as MJPEG with it.
As outlined above, the solution is to force MJPEG demuxing by appending `.mjpeg` to the URL.

Yes, the attitude is "quality" on its own :-|.

Thank you once, again, I tried to recreate the streaming using your method, it failed initially, but after some more testing it looks like it is a bug in VLC (as you describe) and regression in 3.x version. The new VLC (3.x) was unable to make this trick, so I installed 2.x and it worked (with the extension given).

Interesting! I did actually try this on VLC 3.0 (macOS).
But I'm glad you found a way to make it work. ☺️ 